$nav: 100;
$green: #28f449;

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin:0;
  padding: 0;
  padding-top: $nav + px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  height: 100%;
}

.content {
  height: 100%;
}

button {
  background-color: transparent;
  color: grey;
  border: none;
}

a {
  cursor: pointer;
  outine: none;
  text-decoration: none;
  color: rgba(grey, .7);
  &:hover {
    outine: none;
    text-decoration: none;
    color: rgba(grey, .7);
  }
}

.my-preview {
  height:70%;
}

.agame {
  height:100%;
}
.cb {
  list-style: none;
  padding: 10px;
  display:inline-block;
  background-color: #000;
  color: #FFF;
  border: 1px solid black;
  border-radius-top: 3px;
}
.cb:hover{
  background-color: #4a4a4a;
  color: #FFF;
}


.sink{
  position: fixed;
  bottom: 0;
  width:100%;
  padding-bottom: 7px;
}

.active {
  list-style: none;
  padding: 10px;
  display: inline-block;
  color: #FFF;
  border-radius-top: 3px;
  background-color: $green;
}

.btn {
  text-align: center;
  padding: 5px;
  display:inline-block;
  border: 1px solid black;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 5px;
}
.btnVal{
float: right;

  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background: $green;
}

.valDash{
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
 // padding-bottom: 20px;
  width: 100%;
}

.dashboard {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

.dashboard div {
  min-width: 60px;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}

/* GENERAL */

.font-m {
  font-size: 40px;
}

.font-s {
  font-size: 24px;
}

.margin-t-s {
  margin-top: 12px;
}

.margin-t-m {
  margin-top: 24px;
}

.margin-b-l {
  margin-bottom: 32px;
}

.margin-r-s {
  margin-right: 12px;
}

.margin-auto{
  margin-right: auto;
  margin-left: auto;
}

.text-left{
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.c-grey {
  color: rgba(grey, .7);
}

.b-white {
  background-color: white;
}

.padding-t-l {
  padding-top: 36px;
}


/* HEADER */

header {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  height: $nav + px;
  background-color: $green;
  padding-top: 20px;
  .link-home {
    color: white;
  }
}


.container-fluid {
  padding: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* RENDER */

#render{
  width: 100%;
}

/* LOGIN */

.head-m {
  background-color: $green;
  padding-bottom: 90px;
  text-align: center;
  img {
    width: 50%;
    min-width: 300px;
    max-width: 400px;
  }
}

.nav-login {
  background-color: $green;
  color: white;
  font-size: 16px;
  .nav-1 {
    color: white;
    position: relative;
    text-align: right;
    padding-right: 100px;
    .i-tri {
      padding-right: 41px;
    }
    &:hover{
      font-weight: bolder;
    }
  }
  .nav-2 {
    color: white;
    position: relative;
    padding-left: 100px;
    text-align: left;
    .i-tri {
      padding-left: 41px;
    }
    &:hover{
      font-weight: bolder;
    }
  }
  .i-tri {
    height: 24px;
    font-size: 30px;
    color: transparent;
  }
}

.log-or {
  max-width: 410px;
  margin: 0 auto;
}

.btn-green {
  background-color: $green;
  color: white;
  border: 1px solid $green;
  padding: 10px;
  &:hover, &:active {
    background-color: rgba($green, .8);
  }
}

.btn-big {
  width: 100%;
  text-align: center;
}

.triActive {
   color: white !important;
 }

.triNotActive {
  color: transparent;
}

.bordered {
  height: 15px;
  border-bottom: 1px solid rgba(grey, .5);
}

@media screen and (max-width: 400px) {
  .head-m {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .nav-login {
    .nav-2 {
      text-align: center !important;
      padding-left: 0px;
      .i-tri {
        padding-left: 0px;
      }
    }
    .nav-1 {
      text-align: center;
      padding-right: 0px;
      .i-tri {
        padding-right: 0px;
      }
    }
  }
}

.basic-form {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 410px;
  input{
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(grey, .5);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    &:focus {
      border-bottom: 2px solid $green;
    }
  }
}

select {
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(grey, .5);
  padding: 10px;
  width: 200px;
  height: 40px
}

 /* GAME */
.game {
  height: 100%;
  background-color:  #28f449;
}

.game ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.game li {
  border-bottom: 1px solid rgba(grey, .7);
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.game li:last-child {
  border-bottom: none;
}
.game span {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #28f449;
  color: white;
}
.game .footer {
//  background-color: #28f449;
//  height: 1000px;
}
