$nav: 100;
$green: #28f449;

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

html {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  padding: 0;
  padding-top: $nav + px;
  font-family: 'Quicksand', sans-serif;
}

.my-preview {
  height:70%;
}

.agame {
  height:100%;
}
.cb {
  list-style: none;
  padding: 10px;
  display:inline-block;
  background-color: #000;
  color: #FFF;
  border: 1px solid black;
  border-radius-top: 3px;
}
.cb:hover{
  background-color: #4a4a4a;
  color: #FFF;
}


.sink{
  position: fixed;
  bottom: 0;
  width:100%;
  padding-bottom: 7px;
}

.active {
  list-style: none;
  padding: 10px;
  display: inline-block;
  color: #FFF;
  border-radius-top: 3px;
  background-color: $green;
}

.btn {
  text-align: center;
  padding: 5px;
  display:inline-block;
  border: 1px solid black;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 5px;
}
.btnVal{
float: right;

  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background: $green;
}

.valDash{
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
 // padding-bottom: 20px;
  width: 100%;
}

.dashboard {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

.dashboard div {
  min-width: 60px;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}

/* GENERAL */

.font-m {
  font-size: 40px;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  height: $nav + px;
  background-color: $green;
  padding-top: 20px;
  .link-home {
    color: white;
  }
}


.container-fluid {
  padding: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* RENDER */

#render{
  width: 100%;
}

/* LOGIN */

.head-m {
  background-color: $green;
  padding-bottom: 90px;
  text-align: center;
  img {
    width: 50%;
    min-width: 350px;
    max-width: 400px;
  }
}

.nav-login {
  background-color: $green;
  color: white;
  div {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .head-m {
    text-align: center;
  }
}

.basic-form {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  input{
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(grey, .5);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    &:focus {
      border-bottom: 2px solid $green;
    }
  }
}
