$nav: 100;
$green: #28f449;

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

html {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  padding: 0;
  padding-top: $nav + px;
  font-family: 'Quicksand', sans-serif;
}


button {
  background-color: transparent;
  color: grey;
  border: none;
}

/* GENERAL */

.font-m {
  font-size: 40px;
}

.font-s {
  font-size: 24px;
}

.margin-t-s {
  margin-top: 12px;
}

.margin-t-m {
  margin-top: 24px;
}

.margin-b-l {
  margin-bottom: 32px;
}

.margin-r-s {
  margin-right: 12px;
}

.text-left{
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.c-grey {
  color: rgba(grey, .7);
}



/* HEADER */

header {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  height: $nav + px;
  background-color: $green;
  padding-top: 20px;
  .link-home {
    color: white;
  }
}


.container-fluid {
  padding: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* RENDER */

#render{
  width: 100%;
}

/* LOGIN */

.head-m {
  background-color: $green;
  padding-bottom: 90px;
  text-align: center;
  img {
    width: 50%;
    min-width: 350px;
    max-width: 400px;
  }
}

.nav-login {
  background-color: $green;
  color: white;
  font-size: 16px;
  .nav-1 {
    position: relative;
    text-align: right;
    padding-right: 100px;
    .i-tri {
      padding-right: 41px;
    }
  }
  .nav-2 {
    position: relative;
    padding-left: 100px;
    text-align: left;
    .i-tri {
      padding-left: 41px;
    }
  }
  .i-tri {
    height: 24px;
    font-size: 30px;
    color: white;
  }
}

.btn-green {
  background-color: $green;
  color: white;
  border: 1px solid $green;
  padding: 10px;
  &:hover, &:active {
    background-color: rgba($green, .8);
  }
}

.bordered {
  height: 15px;
  border-bottom: 1px solid rgba(grey, .5);
}

@media screen and (max-width: 400px) {
  .head-m {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .nav-login {
    .nav-2 {
      text-align: center !important;
      padding-left: 0px;
      .i-tri {
        padding-left: 0px;
      }
    }
    .nav-1 {
      text-align: center;
      padding-right: 0px;
      .i-tri {
        padding-right: 0px;
      }
    }
  }
}

.basic-form {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  input{
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(grey, .5);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    &:focus {
      border-bottom: 2px solid $green;
    }
  }
}


/* PLAY */

.tooltip{
  background-color: #000000;
  color: #ffffff;
  width:100%;
  position: absolute;
  padding-left: 25px;
}
.my-preview {
  padding: 50px;

}
.cb {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display:inline-block;
  background-color: #000;
  color: #FFF;
  border: 1px solid black;
  border-radius-top: 3px;
}
.cb:hover{
  background-color: #4a4a4a;
  color: #FFF;
}


.sink{
  position: fixed;
  bottom: 0;
  width:100%;
  padding-bottom: 7px;
}

.active {
  cursor: pointer;
  list-style: none;
  padding: 10px;
  display: inline-block;
  color: #FFF;
  border-radius-top: 3px;
  background-color: $green;
}

.btn {
  text-align: center;
  padding: 5px;
  display:inline-block;
  border: 1px solid black;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 5px;

}
.btnVal{
  float: right;

  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background: $green;
}

.ap{
  border-radius:20px ;
  background-color: blue;
  color: white;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 50px;
  &:hover, &:active {
    background-color: rgba(#5f9ea0, .8);
  }
}

.valDash{
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  // padding-bottom: 20px;
  width: 100%;
}

.dashboard {
  padding-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

.dashboard div {
  min-width: 60px;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}
