<div class="game bg-green">
  <section class="raw head-m">
    <img ng-src="assets/images/Logo.png" alt="logo-code-lv1"/>
  </section>

  <section class="row">
    <div class="basic-form pointer"><a ng-href="/game" class="c-white"><\RETOUR></a></div>
  </section>
  <div class="row b-white">
      <div class="gameList game basic-form">
        <ul>
          <li ng-repeat="item in myGames"><a ng-href="/play/{{item.id}}">{{item.attributes.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
