<div class="game">
  <section class="raw head-m">
    <img ng-src="assets/images/Logo.png" alt="logo-code-lv1"/>
  </section>

<div class="row b-white padding-t-l">
  <form name="form" ng-submit="joinGame(form)" class="basic-form" novalidate>
    <div class="margin-b-l margin-auto">
      <label for="gameId">Jeux à rejoindre</label>
      <select ng-model="game.id" id="gameId" ng-options="item.attributes.name for item in openGames"></select>
    </div>
    <button type="submit" class="btn-green margin-b-l font-s btn-big">REJOINDRE ! <span class="ion-android-arrow-forward font-s"></span></button>
  </form>

</div>
</div>
