<!--<ul>-->
  <!--<li ng-repeat="item in allGames">-->
    <!--{{item}}-->
  <!--</li>-->
<!--</ul>-->
<form name="form" ng-submit="joinGame(form)" novalidate>
  <div>
    <label for="gameId">Jeu à rejoindre</label>
    <select ng-model="game.id" id="gameId" ng-options="item.attributes.name for item in openGames"></select>
  </div>
  <button type="submit">Rejoindre ce jeu!</button>
</form>


<button ng-click="testGetMyCurrentGame()">Get my current games</button>
<button ng-click="testGetMyPlayerNumber()">Get my player number</button>
