<section class="raw head-m">
  <img ng-src="assets/images/Logo.png" alt="logo-code-lv1"/>
</section>
<div class="raw nav-login">
  <div class="col-xs-6">INSCRIPTION</div>
  <div class="col-xs-6">CONNEXION</div>
</div>

<div class="raw">
  <form class="basic-form col-xs-12 col-sm-6  col-sm-offset-3 col-md-4 col-md-offset-4" name="form" ng-submit="logIn(form)" novalidate>
    <div>
      <input type="text" name="username" placeholder="pseudo" ng-model="user.username">
    </div>
    <div>
      <input type="password" name="password" placeholder="mot de passe" ng-model="user.password">
    </div>
    <button type="submit">CONNEXION</button>
  </form>

</div>
</div>
<button ng-click="loginFB()">Log in with Facebook</button>
