<div class="game">
  <section class="raw head-m">
    <img ng-src="assets/images/Logo.png" alt="logo-code-lv1"/>
  </section>
  <div class="row b-white padding-t-l">
    <form name="form" class="basic-form" ng-submit="createGame(form)" novalidate>
      <div>
        <input type="text" id="name" name="name" placeholder="nom de la partie" ng-model="game.name">
      </div>
      <div>
        <input type="number" placeholder="nombre de joueurs" id="nb" name="nb" ng-model="game.nb">
      </div>
      <div class="padding-t-m">
        <label for="type" class="c-grey">Type de partie</label>
        <select id="type" name="type" ng-model="game.type">
          <option value="text">Texte</option>
          <option value="image">Image</option>
        </select>
      </div>

      <button type="submit" class="btn-green btn-big font-s margin-t-m margin-b-l">CRÉER <span class="ion-android-arrow-forward font-s"></span></button>
    </form>
  </div>
</div>
